
body {
	font-family: "Roboto", sans-serif;
	background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#h1 {
	font-weight:600;
	padding: 30px;
	color: #2196F3;
}
.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}

.modal-content {

	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}


.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	
	font-size: 18px;
	padding-left: 54px;
}

.fa-envelope {
	position: absolute;
	left: 0;
	top: 0px;
	padding: 130px 35px;
	color: #555e60;
}

.fa-key {
	position: absolute;
	left: 0;
	top: 70px;
	padding: 128px 35px;
	color: #555e60;
}

button {
	margin: 5px 0 10px;
}

button:last-of-type {
	margin-bottom: 25px;
}





