body {
	background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
	font-family:"Century Schoolbook"; 
	font-size:14pt;
	font-weight:bold;
}

h2 { 
	font-family: "Times New Roman", Times, serif; 
	font-size:35pt; 
	font-weight:bold;
	color: blue;
	margin-top: 150px;
}

input[type=submit] {
	 background-color:	#2F4F4F; 
	 color:white; 
	 padding:12px 20px; 
	 border:none; 
	 border-radius:5px;
}

input[type=submit]:hover { 
	background-color:#C0C0C0; 
	color:black;
}

img {  
	display: inline-block;
	margin: 25px 10px;
}

.navbar {
	margin-bottom: 100px;
}