body {
	background-color:#D3D3D3;
}

form {
	background-color:#B0C4DE;
	display:inline-block;  
	padding: 20px;
}

p {
	font-family:"Century Schoolbook"; 
	font-size:14pt;
	font-weight:bold;
}

h2 { 
	font-family: "Times New Roman", Times, serif; 
	font-size:35pt; 
	font-weight:bold;
	color:#8B4513;
	margin-top: 150px;
}

input[type=submit] {
	 background-color:	#2F4F4F; 
	 color:white; 
	 padding:12px 20px; 
	 border:none; 
	 border-radius:5px;
}

input[type=submit]:hover { 
	background-color:#C0C0C0; 
	color:black;
}

img {  
	display: inline-block;
	margin: 25px 10px;
}

.navbar {
	margin-bottom: 100px;
}